@media only screen and (min-width: 768px) {
  .display-div {
    margin-top: 50px;
    margin-left: 156px;
    /* $neutralWhite */

    background: #ffffff;
    border-radius: 8px;

    width: 490px;
    height: 155px;
    display: flex;
    flex-direction: column;
  }

  .display-distance {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 26px;
    align-items: center;
  }

  .display-distance p {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
  }

  .display-distance h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;

    text-align: right;

    /* $brandColorSecondary */

    color: #0079ff;
  }

  .display-text {
    flex: 1;
    background: #f4f8fa;
    display: flex;
    align-items: center;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */

    color: #1e2a32;
  }

  .display-text p {
    padding: 0 32px;
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  .display-div {
    /* $neutralWhite */

    background: #ffffff;
    border-radius: 8px;

    width: 95%;
    height: 155px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
  }

  .display-distance {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 26px;
    align-items: center;
  }

  .display-distance p {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
  }

  .display-distance h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;

    text-align: right;

    /* $brandColorSecondary */

    color: #0079ff;
  }

  .display-text {
    flex: 1;
    background: #f4f8fa;
    display: flex;
    align-items: center;

    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */

    color: #1e2a32;
  }

  .display-text p {
    padding: 0 32px;
    text-align: left;
  }
}
