@media only screen and (max-width: 768px) {
  .gmap {
    width: 99%;
    height: 80vh;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  .gmap {
    position: absolute;
    top: 170px;
    left: 800px;
    width: 560px;
    height: 511px;
  }

  .searchDiv {
    margin-left: 156px;

    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 250px;
  }
}

footer {
  height: 20px;
}
