.gmap {
  position: absolute;
  top: 170px;
  right: 104px;
  width: 560px;
  height: 511px;
}

.searchDiv {
  margin-top: 90px;
  margin-left: 156px;

  display: flex;
  flex-direction: column;
  gap: 26px;
}
