@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

body {
  background: #e5e5e5;
}

.container {
  margin-left: 156px;
}

.navbar {
  height: 80px;
  background: #ffffff;
}

.logo {
  position: absolute;
  width: 160px;
  height: 69px;
  left: 67px;
  top: 6px;

  background-image: url('/src/assets/graviti.png');
  background-size: cover;
}

.textBox {
  margin-top: 33px;
  margin-bottom: 33px;
  width: 560px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.textBox .text {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #1b31a8;
}

.textBox .text span {
  font-weight: bold;
}

.inputBox {
  width: 250px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  margin-top: 33px;
}

.inputBox p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */
  width: 111px;
  height: 22px;
  padding-left: 2px;

  display: flex;
  align-items: center;

  color: #000000;
}

.inputBox input {
  border: 1px solid #dcddec;
  border-radius: 6px;
}

.distanceBox {
  margin-top: 43px;
  width: 490px;
  height: 155px;

  display: flex;
  flex-direction: column;

  border: 1px solid rgb(193, 193, 193);
  border-radius: 8px;
  overflow: hidden;
}

.distanceBox-top {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px;
}

.distanceBox-bottom {
  flex: 1;
  background-color: #f4f8fa;
  align-items: center;
  display: flex;
}

.distanceBox-bottom p {
  width: 426px;
  height: 28px;
  padding: 0 26px;
  flex: 1;

  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  justify-content: center;

  color: #1e2a32;
}
